
<br>
<br>
  <div style="text-align:center">
  <h1>
 <button type="button"  (click)="showInfo()">click</button>
</h1>
       <p-growl [value]="msgs"></p-growl> 
<!-- <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show">click</button>
 <dialogBox></dialogBox>  -->
</div>
<br>
<br>
<div style="text-align:center">
    <app-dialog-demo></app-dialog-demo>
  

  <!-- <div style="text-align:center">
  <h1>Hello from PrimeNG!</h1>
               <!-- <input type="text" pInputText placeholder="Enter your name"
               (change)="onChangeEvent($event)" /> -->
               <!-- <button pButton type="text"
                    (click)="greetMe()" icon="fa-check" label="click" ></button>

              
               <p-confirmDialog ></p-confirmDialog> -->

    <!-- </div>  -->
  <h1>Hello from PrimeNG!</h1>
              
               <button pButton type="text"
                    (click)="greetMe()" icon="fa-check" label="Greet me"></button>
              <p-confirmDialog width="400"></p-confirmDialog>
